<div class="graph-container-doughnut">
  <h2>Classificação de clientes</h2>
  <h4>Clientes classificados por capital</h4>

  <div class="graph-container-doughnut__container-graph">
    <canvas
      baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartData.labels"
      [options]="doughnutChartOptions"
      type="doughnut"
    >
    </canvas>
  </div>
  <div class="graph-container-doughnut__container-label">
    <h2>{{ percentageCenter | number : "1.2-2" }}%</h2>
    <h4>({{ labelPercentageCenter }})</h4>
  </div>
</div>
