.graph-container-bar {
  canvas {
    max-width: 100%;
    height: 290px;
  }

  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 24px 38px;
  background-color: #ffffff;
  border-radius: 30px;

  h4 {
    color: #acacac;
    margin-bottom: 20px;
  }
}
