.container-app-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      width: 100%;
      max-width: 500px;
      padding: 24px;
      text-align: center;
    }
  }
  
  .input-app-login {
    background-color: #d9d9d900;
    border: solid 2px #d9d9d9;
  
    &:focus {
      outline: none !important;
      border: solid 1px #ec6724 !important;
      box-shadow: none !important;
    }
  
    &:hover {
      border: solid 1px #ec6724 !important;
    }
  }
  
  .button-app-login {
    background-color: #ec6724;
    border-radius: 4px;
    color: #fff;
    border: none;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
  
  
    &:hover {
      background-color: #ec6724 !important;
      color: #fff !important;
    }
  
    &:active {
      outline: none;
      box-shadow: none;
      border: none;
    }
  
    &:focus {
      outline: none;
      box-shadow: none;
      border: none;
    }
  }
  
 
  