<div class="header-data-container">
  <div class="header-data-container__item-container">
    <div class="header-data-container__item-container-radius-users">
      <img [src]="'assets/icons/icon-profile-users.svg'" alt="users" />
    </div>
    <div class="header-data-container__item-container-data">
      <h4>Total clientes</h4>
      <h2>245</h2>
      <p>
        <span><i class="pi pi-arrow-up"></i> 16%</span> este mês
      </p>
    </div>
  </div>
  <div class="header-data-container__item-container">
    <div class="header-data-container__item-container-radius-money">
      <img [src]="'assets/icons/icon-money-recive.svg'" alt="users" />
    </div>
    <div class="header-data-container__item-container-data">
      <h4>Total ganho</h4>
      <h2>R$ 24.5k</h2>
      <p>
        <span><i class="pi pi-arrow-up"></i> 16%</span> este mês
      </p>
    </div>
  </div>
  <div class="header-data-container__item-container header-data-container__item-container:last-child">
    <div class="header-data-container__item-container-radius-wallet-money">
        <img [src]="'assets/icons/icon-wallet-money.svg'" alt="users" />
      </div>
      <div class="header-data-container__item-container-data">
        <h4>Balanço</h4>
        <h2>R$ 24.5k</h2>
        <p>
          <span><i class="pi pi-arrow-up"></i> 16%</span> este mês
        </p>
      </div>
  </div>
</div>
