@mixin circle($gradient) {
  width: 84px;
  height: 84px;
  min-height: 84px;
  min-width: 84px;
  border-radius: 50%;
  display: flex;
  background: $gradient;
  align-items: center;
  justify-content: center;
}

.header-data-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 32px 50px;
  border-radius: 30px;
  justify-content: center;
  gap: 56px;

  &__item-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__divider{
    border-right: 1px solid #f0f0f0;
  }

  &__item-container-radius-users {
    @include circle(linear-gradient(to bottom, #ffc6a9, #fce0d2));
  }

  &__item-container-radius-money {
    @include circle(linear-gradient(to bottom, #d3ffe7, #effff6));
  }
  
  &__item-container-radius-wallet-money {
    @include circle(linear-gradient(to bottom, #CAF1FF, #CDF4FF));
  }

  &__item-container-data {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h4 {
      color: #acacac;
    }

    i {
      font-size: 0.75rem;
      font-weight: 700;
    }

    p {
      span {
        font-weight: 700;
        color: #000000;
      }
      font-size: 0.75rem;
      font-family: "Inter", sans-serif;
    }

    &__evolutionUp {
      color: #00ac4f !important;
    }

    &__evolutionDown {
      color: #ff0000 !important;
    }
  }
}

@media (max-width: 1050px) {
  .header-data-container {
    flex-direction: column;
    gap: 20px;
    padding: 24px 38px;
  }
}
