.dashboard-container {
  padding: 30px 125px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &__row {
    display: flex;
    flex-direction: row;
    gap: 36px;

    &__item-graph-bar {
      width: 45%;
    }
    &__item-list-customers {
      flex-grow: 1;
    }
  }
}

@media (max-width: 1200px) {
  .dashboard-container {
    padding: 30px 35px;

    &__row {
      flex-direction: column;
      gap: 20px;

      &__item-graph-bar {
        width: 100%;
      }
    }
  }
}
